modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
packages = ["zip"]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 18663
externalPort = 3002

[[ports]]
localPort = 23646
externalPort = 3001

[[ports]]
localPort = 24513
externalPort = 4200

[[ports]]
localPort = 24514
externalPort = 80

[[ports]]
localPort = 25845
externalPort = 3003

[userenv]

[userenv.shared]
EXPO_PUBLIC_DEEP_LINK_MODE = "exps://9da21f17-7bbe-44bf-9389-aa098aa7c0d7-00-f555zfysr1s2.expo.sisko.replit.dev"
